@import "../settings/colors";
@import "../settings/fonts";

.form-section{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.form-bg{
width: 100vw;
height: 100vh;
position:relative;
left: 293px;
opacity: 0.3;
}
.form-block{
    position: relative;
    z-index: 2;
   right: 310px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.form-heading-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img{
        margin-bottom: 30px;
    }
    .form-heading{
        font-size: 30px;
        width: 358px;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
}

.form-container{
    display: flex;  
  width: 600px;
  justify-content: center;
  align-items: center;
  
}
.two-labels{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    input{
        border: none;
        border-bottom: 1px solid $third;
        height: 26px;
        width: 200px;
        background-color: #fdfdfc;
    }
   
}
.row-columns{
display: flex;
gap: 20px;

}
.third-label{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    textarea{
        border: none;
        border-bottom: 1px solid $third;
        height: 94px;
        background-color: #fdfbf8;
        resize: none;
    }
}
input:focus {
    outline: none;
  }
  textarea:focus{
    outline: none;
  }
