@import "../settings/colors";
@import "../settings/mixin";
.homeSectionContainer {
  display: flex;
  &_image {
    width: 700px;
    height: 100vh;
    img {
      position: relative;
      left: -280px;

      width: 885px;
      height: 100vh;
    }
  }
}


.firstSection-heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 38px;
  margin-top: 110px;
  &_img {
    margin-top: 25px;
  }
  .firstSection-buttons {
    margin-top: 78px;

    .first-btn {
      @include give-btn;
    }
  }
}
.first-btn:nth-of-type(1) {
  margin-right: 44px;
}
