@import "../settings/colors";
@import "../settings/mixin";
@import "../settings/fonts";
.whoWeHelp-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .whoWeHelp-heading {
    font-size: 28px;
    margin-bottom: 30px;
    font-family:$font-alt;
  }
}
.whoWeHelp-heading-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.three-btns{
    display: flex;
    gap: 105px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
.whoWeHelp-btn{
    width: 208px;
    height: 79px;
    border: none;
    background-color: white;
    color: $primary;
    text-align: center;
    text-wrap: wrap;
    padding: 0 10px;
    font-size: 22px;
    cursor: pointer;
}
.whoWeHelp-btn:nth-of-type(1){
border: 1px solid $primary;
}
}

.whoWeHelp-description{
    width: 605px;
    height: 94px;
text-align: center;
font-size: 22px;
}

.collection-containers{
 display: flex;
 flex-direction:column;
 gap:20px;
 width: 80vw;
 margin-top: 40px;
}

.collection-container-heading{
    font-size: 26px;
    color: $primary;
    line-height: 31px;
    margin-bottom: 5px;
}

.collection-block{
    display: flex;
    justify-content: space-between;
   
    font-size: 17px;
    height: 50px;
    padding-right: 20px;
}
.border{
    border-bottom:1px solid $third ;
}

.page-numbers{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 154px;
    height: 50px;
    color: $primary;
    font-size: 18px;
margin-top: 20px;
   .number{
    padding: 10px 12px;
    cursor: pointer;
    &.active{
        border: 1px solid $third;
    }
   }
}
// .number:first-child{
//     border: 1px solid $third;
// }
.collection-block_description{
    color: $primary;
    font-family: $font-alt;
}