@import "../settings/colors";
@import "../settings/mixin";

.whoWeHelp-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .whoWeHelp-heading {
    font-size: 28px;
    margin-bottom: 30px;
  }
}
.whoWeHelp-heading-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

.three-btns{
    display: flex;
    gap: 105px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
.whoWeHelp-btn{
    width: 208px;
    height: 79px;
    border: none;
    background-color: white;
    color: $primary;
    text-align: center;
    text-wrap: wrap;
    padding: 0 10px;
    font-size: 22px;
}
.whoWeHelp-btn:nth-of-type(1){
border: 1px solid $primary;
}
}

.whoWeHelp-description{

    width: 605px;
    height: 94px;
text-align: center;
font-size: 22px;
}

.collection-containers{
 display: flex;
 flex-direction:column;
 gap:20px;
 width: 80vw;

}
.collection-container-heading{
    font-size: 26px;
    color: $primary;
    line-height: 31px;
    margin-bottom: 5px;
}

.collection-block{
    display: flex;
    justify-content: space-between;
    color: $primary;
    font-size: 17px;
    height: 50px;
    padding-right: 20px;
}
.border{
    border-bottom:1px solid $third ;
}
