
@mixin give-btn{
    width: 310px;
    height: 120px;
    border: 0.75px solid $primary;
    color: $primary;
    background: #00000000 0% 0% no-repeat padding-box;
    text-align: center;
    font-size: 36px;
    text-wrap: wrap;
    padding: 13px 60px;
    text-transform: uppercase;
}